.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.wrong-answer {
  border: 3px solid red;
}

.questions-container {
  background-color: rgba(34, 34, 34, 0.87);
  border: 2px solid white;
  border-radius: 17px;
  color: #d9d9d9;
  font-size: 14pt;
  font-weight: 500;
  padding: 50px;
  padding-bottom: 10px;
  text-align: center;
  width: 40%;
}

.btns-container {
  column-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  justify-content: space-evenly;
  padding: 20px 0;
  row-gap: 5px;
}

.fast {
  color: red;
}

.btns-container button {
  width: 200px;
}
